@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

.header {
    padding: 2% 0% 0% 15%;
}

.header-menu {
    display: flex;
    gap: 80px;
}

.header-menu-link {
    font-family: 'Monteserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    background-color: #000000;
    color: #f6f6f6;
    font-family: 'Monteserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
}

li {
    padding-top: 8%;
}

li.simple-li-item {
    padding-top: 2px;
}

.main-content {
    padding: 5% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}

.normal-alignment {
    align-items: normal;
}

.main-content-section {
    width: 50%;
    display: flex;
    flex-direction: column;
}

p, .justify {
    font-size: 1.2rem;
    text-align: justify;
    text-justify: inter-word;
}

.main-content-section-h1 {
    font-size: 2.25rem;
}

.div-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.div-links-title {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.mb-8 {
    margin-bottom: 8px;
}

.pl-8 {
    padding-left: 8px;
}

.pr-12-pf-8 {
    padding-right: 12px;
    padding-left: 8px;
}

.pr-18 {
    padding-right: 18px;
}

.pr-28 {
    padding-right: 28px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Monteserrat', sans-serif;
    min-height: 50px;
    align-items: center;
}

.links:hover {
    background-color: #272727;
}

.link:visited {
    color:#f6f6f6;
}

.image-home {
    width: 700px;  
    border-radius: 2%;
    border-style: solid;
    border-color: #22D4FD;
}

.image-runner {
    width: 80%;
}

.image-example {
    max-width: 600px;
}

#js-image {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.walls-image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px;
    width: 50%;
    padding: 100px;
}

.footer {
    padding: 24px;
    color: black;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Monteserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.footer p {
    text-align: center;
}

.div-code {
    background: #ffffff;
    overflow:auto;
    width:auto;
    padding:.2em .6em;
}

.pre-code {
    margin: 0;
    line-height: 125%;
    white-space: pre-line;
}

.span-selector-code {
    color: #1a00aa;
}

.span-string-code {
    color: #aa5500;
}

.span-var-code {
    color: #000000;
}

.span-padding-code {
    padding-left: 12px;
}

.span-comment-code {
    color: #096b16;
}

.single-content-main {
    display: inherit;
}

.single-content-section {
    width: 100%;
}


table, td, th {
    border: 1px solid;
    height: 70px;
    padding-left: 8px;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}

@media (max-width: 1200px) {
    .header {
        padding: 10%;
    }

    .header-menu {
        justify-content: center;
    }

    .main-content {
        flex-direction: column;
        gap: 50px;
    }

    .main-content-section {
        width: auto;
    }

    .image-home {
        width: 320px;
    }

    .image-example {
        width: 300px;
    }

    .walls-image {
        width: 300px;
        padding: 0; 
    }
}


